                                * {
                                    margin: 0;
                                    padding: 0;
                                    box-sizing: border-box;
                                }
                                
                                .container {
                                    background-image: url('images/background.jpg');
                                    background-color: rgba(0, 0, 0, 0.7);
                                    background-size: cover;
                                    min-height: 100Vh;
                                    background-blend-mode: darken;
                                }
                                
                                .cards {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid#ffffff;
                                    height: 100Vh;
                                }
                                
                                .card1 {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    background: #ffffff;
                                    border-radius: 25px;
                                    height: 80%;
                                    width: 450px;
                                    margin-left: 20px;
                                    padding: 40px;
                                }
                                
                                .card2 {
                                    display: flex;
                                    justify-content: space-evenly;
                                    align-items: center;
                                    flex-direction: column;
                                    background: #8C52FF;
                                    border-radius: 25px;
                                    height: 80%;
                                    width: 450px;
                                    margin-left: 20px;
                                    padding: 40px;
                                }
                                
                                .image {
                                    width: 200px;
                                    margin: auto;
                                }
                                
                                .search {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                                
                                .search input {
                                    border: 0;
                                    outline: 0;
                                    background: #ebfffc;
                                    color: #555;
                                    padding: 10px 25px;
                                    height: 40px;
                                    border-radius: 30px;
                                    margin-right: 16px;
                                    font-size: 18px;
                                }
                                
                                .btn {
                                    border: 0;
                                    outline: 0;
                                    padding: 10px;
                                    border-radius: 10px;
                                    cursor: pointer;
                                    margin-left: 0px;
                                }
                                
                                .weather {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    margin-left: 30px;
                                }
                                
                                .weather img {
                                    height: 100px;
                                    margin-right: 30px;
                                }
                                
                                .details {
                                    color: #FFFFFF;
                                }